body {
  font-family: monospace;
  background-image: url('https://cloud.githubusercontent.com/assets/13343280/8691014/daf1de54-2a8a-11e5-8ec7-4cdafa3f4840.jpg');
  color: white;
}

.opening {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
}

.footer img {
  position: relative;

  height: 50px;
  width: 50px;
}
