body {
  font-family: monospace;
  background-image: url('file://C:/Users/Eric (new)/Documents/GitHub/third/background.jpg');
  color: white;
}

.opening {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
}

.footer img {
  position: relative;

  height: 50px;
  width: 50px;
}
